body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: transparent;
}

#settings-container {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  width: 90%;
  max-width: 400px;
}

h1 {
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 20px;
  color: #333;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #555;
}

input,
select,
button {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  margin-bottom: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
}

input[type='color'] {
  padding: 3px;
  height: 40px;
}

button {
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

input[type='checkbox'] {
  width: auto;
  margin-right: 5px;
}

#time:disabled,
#end_message:disabled {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
}

#timer-container {
  text-align: center;
  font-family: Arial, sans-serif;
}

#timer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
  font-weight: bold;
}

.time-part {
  margin: 0 5px;
}

.divider {
  font-size: 5rem;
}
